@import "./globals/resets";
@import "./utilities/mixins";

body{
    background: url(../img/avengers4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    width: 8%;
    height: 80px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    @include flex(flex, row, wrap, flex-end, center);
    background: rgba(255, 255, 255, 0.79);
    position: fixed;
    top: 0;
    right: 0;
    &__nav{
        @include flex(flex, row, wrap, center, center);
        width: 70px;
        height: 70px;
        &__ul{
            margin: 0 20px 0 0;
            @include flex(flex, row, wrap, center, center);
            &__li{
                @include flex(flex, row, wrap, center, center);
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background: black;
                &:hover{
                    background: green;
                    filter: grayscale(50%);
                    transition: all .3s ease;
                }
                &__cart{
                    @include flex(flex, row, wrap, center, center);
                    svg{
                        height: 40px;
                        width: 40px;
                        color: white;
                    }
                }
            }
        }
    }
}
.offcanvas-body{
    @include flex(flex, row, wrap, center, center);
    text-align: center;
    width: 100%;
}

.slider{
    width: 90%;
    height: 100vh;
    @include flex(flex, row, wrap, center, center);
    background: rgba(128, 128, 128, 0.8);
    border-radius: 20px;
    margin: 100px auto;
    padding: 20px;
    &__title{
        padding: 10px;
    }
    &__img{
        @include flex(flex, row, wrap, space-between, center);
        width: 100%;
        height: 500px;
        background: rgba(45, 153, 45, 0.834);
        border-radius: 20px;
        padding: 20px;
        &__container{
            @include flex(flex, row, wrap, center, center);
            width: 24%;
            height: 400px;
            background: rgba(0, 79, 0, 0.84);
            border-radius: 20px;
            padding: 10px;
            img{
                height: 150px;
                width: 100%;
                border: 2px black solid;
                border-radius: 20px;
            }
            p{
                width: 100%;
                font-weight: bold;
                color: white;
            }
        }
    }
}
.slider__link{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    background: black;
    color: white;
    &:hover{
        background: green;
        color: black;
        border: 2px grey solid;
        transition: all .3s ease;
    }
}